SYS_APP_ENV=development
SYS_APP_DEBUG=true
APP_SECRET_KEY=
# APP_HOST=localhost
# APP_PORT=5000

WORKSPACE_STORAGE_MODE=local
SUBDOMAIN_MODE=false

REDIS_WORKSPACE_HOST=127.0.0.1
REDIS_WORKSPACE_PORT=6379
REDIS_WORKSPACE_PASSWORD=
REDIS_WORKSPACE_DB=0

REDIS_QUOTA_HOST=https://engine-redis.sptitan.flowyt.com
REDIS_QUOTA_PORT=6379
REDIS_QUOTAS_PASSWORD=JYqjWUN3
REDIS_QUOTAS_DB=1