[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
cx-freeze = "*"

[packages]
flask = "*"
flask-restful = "*"
dotmap = "*"
requests = "*"
cerberus = "*"
python-dotenv = "*"
xmltodict = "*"
gunicorn = "*"
awsebcli = "*"

[requires]
python_version = ">=3.6"
